body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--color-bg);
  min-height: 100dvh;
  font-size: var(--font-size-2);
  line-height: 1.5;
  font-family: var(--font-system-ui);
  text-wrap: balance;
}

.content {
  height: 100%;
}
.wrapper {
  margin: auto;
  max-width: var(--max-content-width);
}

p {
  max-width: var(--maxchars);
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: pretty;
}
// * {
//     outline: solid 1px red;
// }
